<section>
    <p class="company-presentation">
        At my company Clear Robotics, we build artificially intelligent robot boats.I also hold a Guinness World Record for building the world’s fastest robotic fish.
        <svg class="ellipse1" width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="45.5" cy="45.5" r="45.5" fill="#FFD702"/>
        </svg>
    </p>
    <div class="about">
        <div class="photo-cntnr">
            <img src="assets/Screenshot 2022-08-15 at 12.23 4.png" alt="">
        </div>
        <div class="text-cntnr">
            <h2>Clearbot</h2>
            <p class="clearbot-presentation">Our electric, autonomous boats can clean marine pollution, move cargo and conduct surveys at the press of a button.
                <br><br> We’ve taken the company from an idea on a beach in Bali to over 1M USD in revenue and are now venture backed by Alibaba and Razer. 
            </p>
            <p class="button">More about Clearbot
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.3086 21C17.3002 21 21.3467 16.9706 21.3467 12C21.3467 7.02944 17.3002 3 12.3086 3C7.31701 3 3.27051 7.02944 3.27051 12C3.27051 16.9706 7.31701 21 12.3086 21Z" stroke="black" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.9446 12L11.1787 9.375V14.625L14.9446 12Z" fill="black" stroke="black" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </p>
        </div>
    </div>
    <svg class="ellipse2" width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.5" cy="45.5" r="45.5" fill="#FFD702"/>
    </svg>     
</section>
