<section>
    <p class="company-presentation">
        At my company Clear Robotics, we build artificially intelligent robot boats.I also hold a Guinness World Record for building the world’s fastest robotic fish.
        <svg class="ellipse1" width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="45.5" cy="45.5" r="45.5" fill="#FFD702"/>
        </svg>
    </p>
    <div class="about">
        <div class="photo-cntnr">
            <img src="assets/Screenshot 2022-08-15 at 12.23 4.png" alt="">
        </div>
        <div class="text-cntnr">
            <h2>Clearbot</h2>
            <p class="clearbot-presentation">Our electric, autonomous boats can clean marine pollution, move cargo and conduct surveys at the press of a button.
                <br><br> We’ve taken the company from an idea on a beach in Bali to over 1M USD in revenue and are now venture backed by Alibaba and Razer. </p>
        </div>
    </div>
    <svg class="ellipse2" width="91" height="91" viewBox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.5" cy="45.5" r="45.5" fill="#FFD702"/>
    </svg>     
</section>
