<h2>SIDHANT GUPTA</h2>
<svg class="ellipse1" width="297" height="111" viewBox="0 0 297 111" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse opacity="0.1" cx="148.5" cy="-33" rx="148.5" ry="144" fill="#41BDF5"/>
</svg>
<svg class="ellipse2" width="385" height="525" viewBox="0 0 385 525" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.2" d="M384.5 262.5C384.5 407.192 265.415 524.5 118.5 524.5C-28.4149 524.5 -147.5 407.192 -147.5 262.5C-147.5 117.808 -28.4149 0.5 118.5 0.5C265.415 0.5 384.5 117.808 384.5 262.5Z" stroke="#41BDF5"/>
</svg>
    
<section>
    <div class="text-cntnr">
        <p class="name">  Hi! I'm Sid </p>
        <h1>I use robotics to solve the world’s biggest problems.</h1>
        <p>My mission is to build robotic solutions that help augment humanity because I believe it is what we need to reach the next stage of  our evolution. </p>
        <p class="button">Check out my TEDx talk!
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3086 21C17.3002 21 21.3467 16.9706 21.3467 12C21.3467 7.02944 17.3002 3 12.3086 3C7.31701 3 3.27051 7.02944 3.27051 12C3.27051 16.9706 7.31701 21 12.3086 21Z" stroke="black" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.9446 12L11.1787 9.375V14.625L14.9446 12Z" fill="black" stroke="black" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </p>
    </div>
    <div class="photo-cntnr">
        <img src="assets/THK_1022_Features_Gen 1.png" alt="">
    </div>
</section>
